= form_for post do |f|
  %table
    %tr
      %td= f.label :title
      %td= f.text_field :title
    %tr
      %td= f.label :body, 'Body'
      %td= f.text_area :body
    %tr
      %td= f.submit 'Post'
