= form_for obj do |f|
  %table.table#post-form
    - post = obj.class == Post
    - if post
      %tr
        %td= f.label :title
        %td= f.text_field :title, id: 'post-title-field'
    %tr
      %td{colspan: 2}= f.label :body
      - if post
        %tr
          %td{colspan: 2}= f.text_area :body, id: 'post-field'
      - else
        %td= f.text_field :body, id: 'blurb-field'
    - if Resource.any?
      %tr
        %td= f.label :resources
        %td= f.collection_select(:resources, Resource.all, :id, :title, {}, {multiple: true})
    %tr
      %td= link_to 'add a resource', new_resource_path
    - if Concept.any?
      %tr
        %td= f.label :concepts
        %td= f.collection_select(:concepts, Concept.all, :id, :name, {}, {multiple: true})
    %tr
      %td= link_to 'add a concept', new_concept_path
    %tr
      %td= f.submit 'save draft', name: 'submit'
      %td= f.submit 'publish', name: 'submit'
