= form_for post do |f|
  %table.table
    %tr
      %td= f.label :title
      %td= f.text_field :title
    %tr
      %td= f.label :body
      %td= f.text_area :body
    %tr
      %td= f.label :tags
      %td= f.select :tags, options_from_collection_for_select(Resource.all, :id, :title)

    %tr
      %td= link_to 'add a resource', new_resource_path
    %tr
      %td= link_to 'add a tag', new_tag_path
    %tr
      %td= f.submit 'Post'
