#container
  = link_to 'make resource', new_resource_path if me?
  %ul
    - Resource.all.each do |resource|
      %li
        = link_to resource.title, resource.url
        %span= " from #{resource.author}"
        %span= link_to 'edit', edit_resource_path(resource.id) if me?
        %span= link_to 'delete', resource_path(resource.id), method: :delete if me?
