%head
  %title= @post.title

%body
  #container.show
    = headline(@post)
    %span= @post.timestamp
    %span
      - @post.concepts.each do |c|
        = link_to c.name, concept_path(c.id)
    %article= markdown(@post.body)
