<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id='nav'>
      <%= link_to 'posts', posts_path %>
      <%= link_to 'blurbs', blurbs_path %>
      <%= link_to 'resources', resources_path %>
      <%= link_to 'concepts', concepts_path %>
      <%= if me? then link_to 'sign out', signout_path else link_to 'sign in', signin_path end %>
    </div>
  </header>

<%= flash[:notice] %>
<%= flash[:alert] %>
<%= yield %>
  <footer>
    <%= debug(params) %>
  </footer>
</body>
</html>
