<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id='brand'>
      <h1><%= link_to 'the vast beyond', root_path %> <small>7321</small></h1>
    </div>
    <div id='nav-bar'>
      <div id='nav-general'>
        <ul class='horiz-list'>
          <li><%= link_to 'posts', posts_path %></li>
          <li><%= link_to 'resources', resources_path %></li>
          <li><%= link_to 'concepts', concepts_path %></li>
        </ul>
      </div>
      <% if me? %>
        <div id='nav-admin'>
          <%= image_tag('white/menu-h.png', class: 'link-icon', alt: 'menu') %>
          <ul id='admin-dropdown'>
            <div class='menu-section'>
              <li><%= link_to 'new post', new_post_path %></li>
              <li><%= link_to 'all posts', posts_path %></li>
              <li><%= link_to 'draft posts', draft_posts_path %></li>
              <li><%= link_to 'published posts', published_posts_path %>
            </div>
            <div class='menu-section'>
              <li><%= link_to 'new note', new_blurb_path %></li>
              <li><%= link_to 'all notes',  blurbs_path %></li>
            </div>
            <div class='menu-section'>
              <li><%= link_to 'new resource', new_resource_path %>
              <li><%= link_to 'all resources', resources_path %>
            </div>
            - if Rails.env.development?
              <div class='menu-section'>
                <li><%= link_to 'sandbox', sandbox_path %></li>
              </div>
            <li><%= link_to 'sign out', signout_path %></li>
          </ul>
        </div>
      <% else %>
        <div id='nav-signin'>
          <%= link_to image_tag('white/signin.png', class: 'link-icon bkgd-color', alt: 'sign in'), signin_path %>
        </div>
      <% end %>

    </div>
  </header>
<div id='notice'>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</div>

<div id='container'>
  <%= yield %>
</div>

</body>
</html>
