<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id='brand'>
      <h1><%= link_to 'the vast beyond', root_path %> <small>7321 (name courtesy of heroku)</small></h1>
    </div>
    <div id='nav-bar'>
      <span style='float: left' id='nav-general'>
        <%= link_to 'posts', posts_path %>
        <%= link_to 'resources', resources_path %>
        <%= link_to 'concepts', concepts_path %>
      </span>
      <span style='float: right' id='nav-admin'>
        <%= if me? then link_to image_tag('white/menu-h.png', class: 'link-icon admin-dropdown'), signout_path else link_to image_tag('white/signin.png', class: 'link-icon admin-hidden'), signin_path end %>

      </span>
    </div>
  </header>

<%= flash[:notice] %>
<%= flash[:alert] %>
<%= yield %>
  <footer>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</body>
</html>
